{% extends "base.html.twig" %}

{% block pageclass %}page-allatok{% endblock %}
{% block body %}
<a href={{ path('allat_edit') }}>Új allat</a>
<table class="table">
<tbody>
<tr>
    <th>Allat id</th>
    <th>Allat neve</th>
    <th>allat súlya</th>
    <th>műveletek</th>
</tr>
{% for allat in allatok %}
<tr>
    <td>
        {{allat.id}}
    </td>
    <td>
        {{allat.name}}
    </td>
    <td>
        {{allat.weight}}
    </td>
    <td>
        <a href={{ path('allat_edit', {allat:allat.id}) }}>edit</a>
        <a href={{ path('allat_delete', {allat:allat.id}) }}>delete</a>
    </td>

</tr>

{% endfor %}

</tbody>
</table>
{% endblock %}