<form method="post" action="{{ path('gazda_delete', {'id': gazda.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gazda.id) }}">
    <button class="btn">Delete</button>
</form>
