{% extends 'base.html.twig' %}

{% block title %}Edit Gazda{% endblock %}

{% block body %}
    <h1>Edit Gazda</h1>

    {{ include('gazda/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gazda_index') }}">back to list</a>

    {{ include('gazda/_delete_form.html.twig') }}
{% endblock %}
