{% extends 'base.html.twig' %}

{% block title %}Gazda index{% endblock %}

{% block body %}
    <h1>Gazda index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Kor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gazda in gazdas %}
            <tr>
                <td>{{ gazda.id }}</td>
                <td>{{ gazda.name }}</td>
                <td>{{ gazda.kor }}</td>
                <td>
                    <a href="{{ path('gazda_show', {'id': gazda.id}) }}">show</a>
                    <a href="{{ path('gazda_edit', {'id': gazda.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gazda_new') }}">Create new</a>
{% endblock %}
