{% extends 'base.html.twig' %}

{% block title %}New Gazda{% endblock %}

{% block body %}
    <h1>Create new Gazda</h1>

    {{ include('gazda/_form.html.twig') }}

    <a href="{{ path('gazda_index') }}">back to list</a>
{% endblock %}
