{% extends 'base.html.twig' %}

{% block title %}Gazda{% endblock %}

{% block body %}
    <h1>Gazda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gazda.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gazda.name }}</td>
            </tr>
            <tr>
                <th>Kor</th>
                <td>{{ gazda.kor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gazda_index') }}">back to list</a>

    <a href="{{ path('gazda_edit', {'id': gazda.id}) }}">edit</a>

    {{ include('gazda/_delete_form.html.twig') }}
{% endblock %}
