<div>
    <nav class="navbar navbar-dark bg-dark ">
        <ul>
            <li><a class="navbar-brand" href="{{ path('index')}}">Home</a></li>
            <li><a class="navbar-brand" href="{{ path('allat_index')}}">Allatok</a></li>
            <li><a class="navbar-brand" href="{{ path('gazda_index')}}">Gazdak</a></li>
            <li><a class="navbar-brand" href="{{ path('app_logout')}}">Logout</a></li>
        </ul>
    </nav>
</div>